body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#059010;
    padding: 0;
}
#container{
    text-align: left;
    width: 70%;
    padding: 1em;
    border: 1px solid red;
     margin: 0 auto;
}